:root {
    --primary-color:rgba(46, 56, 56, 0.966);
  --secondary-color:rgb(144, 185, 206);
  --tertiary-color:rgb(54, 56, 99);
}
* {
    margin: 0;
    padding: 0;
}
body {
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
    
}
/* apply styles to <header> */
header {
    padding: 10px 35px 10px 0px;
    background-color: var(--primary-color);
}
header h1 {
    font-weight: bold;
    font-size: 50px;
    color: var(--primary-color);
    margin: 0%; 
    display: inline; 
}
header h1 span {
    background-color: var(--secondary-color);
}
header a {
    color: var(--primary-color);
    text-decoration: none;
}
header nav {
    float: right;
    margin: 15px 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    border-bottom: 5px solid var(--secondary-color);
    color: var(--secondary-color);
    margin: 0 15px;
    font-weight: lighter;
    font-size: 20px;
}
section {
    padding: 60px;
    
}
section h1 {
    float: right;
    font-weight: bold;
    font-size: 40px;
    color: var(--primary-color);
    margin: 150px 40px; 
    display: inline;
}
.highlight {
    display: inline;
    padding: .10em 0;
    background: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: .5em 0 0 var(--secondary-color), -.5em 0 0 var(--secondary-color);
}
/* banner */
.banner {
   background-image: url("../images/light-blue-navy-grey-striped-wood.jpg");
    height: 175px;
    background-size: cover;
    background-position: center;
}